In [47]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [48]:
import numpy as np
import pandas as pd
import seaborn as sns 
import ast

In [49]:
dataset = pd.read_csv('/content/drive/MyDrive/Deep_learning/airline-price-prediction.csv')
dataset.head()

,date,airline,ch_code,num_code,dep_time,time_taken,stop,arr_time,type,route,price
0,5/3/2022,Vistara,UK,812,9:45,10h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,business,"{'source': 'Bangalore', 'destination': 'Hydera...","56,588"
1,18-03-2022,Vistara,UK,975,5:45,06h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:15,business,"{'source': 'Delhi', 'destination': 'Hyderabad'}","59,649"
2,9/3/2022,GO FIRST,G8,7537,14:30,08h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,22:40,economy,"{'source': 'Mumbai', 'destination': 'Hyderabad'}","3,916"
3,15-03-2022,GO FIRST,G8,287,10:40,09h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:20,economy,"{'source': 'Mumbai', 'destination': 'Delhi'}","6,031"
4,22-03-2022,Vistara,UK,826,12:30,07h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,economy,"{'source': 'Chennai', 'destination': 'Kolkata'}","7,081"

In [50]:
dataset['formatted_date'] = 0
dataset['source'] = 0
dataset['destination'] = 0
dataset['flight_day'] = 0
dataset['flight_month'] = 0
dataset['flight_year']=0
dataset['num_of_stops'] = 0
dataset['one_stop_in']= 'Not found'

In [51]:
def format_date(dataFrame,column,formatted_column):
    for date in range(len(dataFrame[column])):
        dataFrame[formatted_column][date] = dataFrame[column][date].replace('-','/')
    dataFrame = dataFrame.drop(columns = column)
    return dataFrame

In [52]:
dataset = format_date(dataset,'date','formatted_date')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [53]:
def split_route():
    observation = 0
    for route in dataset['route']:
       flight = ast.literal_eval(route)
       dataset['source'][observation] = flight['source']
       dataset['destination'][observation] = flight['destination']
       observation+=1

In [54]:
def split_date():
    observation = 0
    for date in dataset['formatted_date']:
       format = date.split('/')
       dataset['flight_day'][observation] = format[0]
       dataset['flight_month'][observation] =format[1]
       dataset['flight_year'][observation] =format[2]
       observation+=1

In [55]:
split_route()
split_date()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [56]:
dataset.stop.value_counts()

1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t                      194814
non-stop                                                                         28944
2+-stop                                                                          10612
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXU\n\t\t\t\t\t\t\t\t\t\t\t\t                 1487
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IDR\n\t\t\t\t\t\t\t\t\t\t\t\t                 1099
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Patna\n\t\t\t\t\t\t\t\t\t\t\t\t                559
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Indore\n\t\t\t\t\t\t\t\t\t\t\t\t               299
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia PAT\n\t\t\t\t\t\t\t\t\t\t\t\t                  273
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia MYQ\n\t\t\t\t\t\t\t\t\t\t\t\t                  267
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Bhubaneswar\n\t\t\t\t\t\t\t\t\t\t\t\t          248
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia KLH\n\t\t\t\t\t\t\t\t\t\t\t\t                  231
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JGB\n\t\t\t\t\t\t\t\t\t\t\t\t                  149
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JRG\n\t\t\t\t\t\t\t\t\t\t\t\t                  135
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia STV\n\t\t\t\t\t\t\t\t\t\t\t\t                  129
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Delhi\n\t\t\t\t\t\t\t\t\t\t\t\t                123
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia BBI\n\t\t\t\t\t\t\t\t\t\t\t\t                  119
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Hyderabad\n\t\t\t\t\t\t\t\t\t\t\t\t            107
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXE\n\t\t\t\t\t\t\t\t\t\t\t\t                   91
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Ranchi\n\t\t\t\t\t\t\t\t\t\t\t\t                86
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Raipur\n\t\t\t\t\t\t\t\t\t\t\t\t                78
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Chennai\n\t\t\t\t\t\t\t\t\t\t\t\t               64
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Guwahati\n\t\t\t\t\t\t\t\t\t\t\t\t              46
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mangalore\n\t\t\t\t\t\t\t\t\t\t\t\t             35
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mysore\n\t\t\t\t\t\t\t\t\t\t\t\t                33
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mumbai\n\t\t\t\t\t\t\t\t\t\t\t\t                27
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia VTZ\n\t\t\t\t\t\t\t\t\t\t\t\t                   22
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Nagpur\n\t\t\t\t\t\t\t\t\t\t\t\t                21
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolkata\n\t\t\t\t\t\t\t\t\t\t\t\t               18
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NDC\n\t\t\t\t\t\t\t\t\t\t\t\t                   17
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia RPR\n\t\t\t\t\t\t\t\t\t\t\t\t                   16
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Lucknow\n\t\t\t\t\t\t\t\t\t\t\t\t               11
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Surat\n\t\t\t\t\t\t\t\t\t\t\t\t                 11
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GOP\n\t\t\t\t\t\t\t\t\t\t\t\t                   10
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Vishakhapatnam\n\t\t\t\t\t\t\t\t\t\t\t\t         7
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NAG\n\t\t\t\t\t\t\t\t\t\t\t\t                    7
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolhapur\n\t\t\t\t\t\t\t\t\t\t\t\t               4
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAU\n\t\t\t\t\t\t\t\t\t\t\t\t                    3
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXR\n\t\t\t\t\t\t\t\t\t\t\t\t                    3
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GAY\n\t\t\t\t\t\t\t\t\t\t\t\t                    2
1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia HYD\n\t\t\t\t\t\t\t\t\t\t\t\t                    1
Name: stop, dtype: int64

In [57]:
stops = dataset['stop']
stops

0         1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
1         1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
2         1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
3         1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
4         1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
                                ...
240203    1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
240204    1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
240205                                            non-stop
240206    1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
240207    1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...
Name: stop, Length: 240208, dtype: object

In [58]:
def split_num_of_stops():
  observation= 0
  for stop in dataset['stop']:
    if stop[:8] == 'non-stop':
      dataset['num_of_stops'][observation] = 0
    elif stop[:6] == '1-stop':
      dataset['num_of_stops'][observation] = 1
    else:
      dataset['num_of_stops'][observation] = 2
    observation+=1

In [59]:
split_num_of_stops()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [60]:
dataset

,airline,ch_code,num_code,dep_time,time_taken,stop,arr_time,type,route,price,formatted_date,source,destination,flight_day,flight_month,flight_year,num_of_stops,one_stop_in
0,Vistara,UK,812,9:45,10h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,business,"{'source': 'Bangalore', 'destination': 'Hydera...","56,588",5/3/2022,Bangalore,Hyderabad,5,3,2022,1,Not found
1,Vistara,UK,975,5:45,06h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:15,business,"{'source': 'Delhi', 'destination': 'Hyderabad'}","59,649",18/03/2022,Delhi,Hyderabad,18,3,2022,1,Not found
2,GO FIRST,G8,7537,14:30,08h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,22:40,economy,"{'source': 'Mumbai', 'destination': 'Hyderabad'}","3,916",9/3/2022,Mumbai,Hyderabad,9,3,2022,1,Not found
3,GO FIRST,G8,287,10:40,09h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:20,economy,"{'source': 'Mumbai', 'destination': 'Delhi'}","6,031",15/03/2022,Mumbai,Delhi,15,3,2022,1,Not found
4,Vistara,UK,826,12:30,07h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,economy,"{'source': 'Chennai', 'destination': 'Kolkata'}","7,081",22/03/2022,Chennai,Kolkata,22,3,2022,1,Not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240203,Air India,AI,430,9:55,09h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:20,economy,"{'source': 'Chennai', 'destination': 'Hyderabad'}","3,979",25/03/2022,Chennai,Hyderabad,25,3,2022,1,Not found
240204,Air India,AI,489,19:10,17h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:30,business,"{'source': 'Delhi', 'destination': 'Kolkata'}","42,771",15/02/2022,Delhi,Kolkata,15,2,2022,1,Not found
240205,Indigo,6E,2036,22:50,02h 55m,non-stop,1:45,economy,"{'source': 'Delhi', 'destination': 'Bangalore'}","7,425",23/02/2022,Delhi,Bangalore,23,2,2022,0,Not found
240206,Vistara,UK,813,17:35,28h 15m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,21:50,economy,"{'source': 'Delhi', 'destination': 'Mumbai'}","14,093",11/2/2022,Delhi,Mumbai,11,2,2022,1,Not found
240207,SpiceJet,SG,3835,20:10,19h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,15:40,economy,"{'source': 'Kolkata', 'destination': 'Hyderabad'}","6,488",18/02/2022,Kolkata,Hyderabad,18,2,2022,1,Not found

In [61]:
def find_where_is_the_stop():
  observation = 0
  for stop in dataset['stop']:
     if stop[:6] == '1-stop':
        splitted = stop.split(' ')
        if len(splitted)>1:
           fine_splitting = splitted[1].split('\n')
           dataset['one_stop_in'][observation] = fine_splitting[0]
     else :
           dataset['one_stop_in'][observation] = 'Not found'
     observation+=1

In [62]:
dataset.one_stop_in.value_counts()

Not found    240208
Name: one_stop_in, dtype: int64

In [63]:
find_where_is_the_stop()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
dataset.one_stop_in.value_counts()

Not found         234370
IXU                 1487
IDR                 1099
Patna                559
Indore               299
PAT                  273
MYQ                  267
Bhubaneswar          248
KLH                  231
JGB                  149
JRG                  135
STV                  129
Delhi                123
BBI                  119
Hyderabad            107
IXE                   91
Ranchi                86
Raipur                78
Chennai               64
Guwahati              46
Mangalore             35
Mysore                33
Mumbai                27
VTZ                   22
Nagpur                21
Kolkata               18
NDC                   17
RPR                   16
Surat                 11
Lucknow               11
GOP                   10
Vishakhapatnam         7
NAG                    7
Kolhapur               4
GAU                    3
IXR                    3
GAY                    2
HYD                    1
Name: one_stop_in, dtype: int64

In [65]:
dataset

,airline,ch_code,num_code,dep_time,time_taken,stop,arr_time,type,route,price,formatted_date,source,destination,flight_day,flight_month,flight_year,num_of_stops,one_stop_in
0,Vistara,UK,812,9:45,10h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,business,"{'source': 'Bangalore', 'destination': 'Hydera...","56,588",5/3/2022,Bangalore,Hyderabad,5,3,2022,1,Not found
1,Vistara,UK,975,5:45,06h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:15,business,"{'source': 'Delhi', 'destination': 'Hyderabad'}","59,649",18/03/2022,Delhi,Hyderabad,18,3,2022,1,Not found
2,GO FIRST,G8,7537,14:30,08h 10m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,22:40,economy,"{'source': 'Mumbai', 'destination': 'Hyderabad'}","3,916",9/3/2022,Mumbai,Hyderabad,9,3,2022,1,Not found
3,GO FIRST,G8,287,10:40,09h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:20,economy,"{'source': 'Mumbai', 'destination': 'Delhi'}","6,031",15/03/2022,Mumbai,Delhi,15,3,2022,1,Not found
4,Vistara,UK,826,12:30,07h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:55,economy,"{'source': 'Chennai', 'destination': 'Kolkata'}","7,081",22/03/2022,Chennai,Kolkata,22,3,2022,1,Not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240203,Air India,AI,430,9:55,09h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,19:20,economy,"{'source': 'Chennai', 'destination': 'Hyderabad'}","3,979",25/03/2022,Chennai,Hyderabad,25,3,2022,1,Not found
240204,Air India,AI,489,19:10,17h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,12:30,business,"{'source': 'Delhi', 'destination': 'Kolkata'}","42,771",15/02/2022,Delhi,Kolkata,15,2,2022,1,Not found
240205,Indigo,6E,2036,22:50,02h 55m,non-stop,1:45,economy,"{'source': 'Delhi', 'destination': 'Bangalore'}","7,425",23/02/2022,Delhi,Bangalore,23,2,2022,0,Not found
240206,Vistara,UK,813,17:35,28h 15m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,21:50,economy,"{'source': 'Delhi', 'destination': 'Mumbai'}","14,093",11/2/2022,Delhi,Mumbai,11,2,2022,1,Not found
240207,SpiceJet,SG,3835,20:10,19h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,15:40,economy,"{'source': 'Kolkata', 'destination': 'Hyderabad'}","6,488",18/02/2022,Kolkata,Hyderabad,18,2,2022,1,Not found

In [67]:
dataset.drop(columns = ['stop','route','flight_year'],inplace=True)

In [68]:
dataset

,airline,ch_code,num_code,dep_time,time_taken,arr_time,type,price,formatted_date,source,destination,flight_day,flight_month,num_of_stops,one_stop_in
0,Vistara,UK,812,9:45,10h 10m,19:55,business,"56,588",5/3/2022,Bangalore,Hyderabad,5,3,1,Not found
1,Vistara,UK,975,5:45,06h 30m,12:15,business,"59,649",18/03/2022,Delhi,Hyderabad,18,3,1,Not found
2,GO FIRST,G8,7537,14:30,08h 10m,22:40,economy,"3,916",9/3/2022,Mumbai,Hyderabad,9,3,1,Not found
3,GO FIRST,G8,287,10:40,09h 40m,20:20,economy,"6,031",15/03/2022,Mumbai,Delhi,15,3,1,Not found
4,Vistara,UK,826,12:30,07h 25m,19:55,economy,"7,081",22/03/2022,Chennai,Kolkata,22,3,1,Not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240203,Air India,AI,430,9:55,09h 25m,19:20,economy,"3,979",25/03/2022,Chennai,Hyderabad,25,3,1,Not found
240204,Air India,AI,489,19:10,17h 20m,12:30,business,"42,771",15/02/2022,Delhi,Kolkata,15,2,1,Not found
240205,Indigo,6E,2036,22:50,02h 55m,1:45,economy,"7,425",23/02/2022,Delhi,Bangalore,23,2,0,Not found
240206,Vistara,UK,813,17:35,28h 15m,21:50,economy,"14,093",11/2/2022,Delhi,Mumbai,11,2,1,Not found
240207,SpiceJet,SG,3835,20:10,19h 30m,15:40,economy,"6,488",18/02/2022,Kolkata,Hyderabad,18,2,1,Not found